 

html{
    background-image: url(giphy.gif);
    border: 30px solid transparent ;
    border-image: url(color.gif) 1 round;
    height: auto;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom:0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color:deepskyblue;
    position:sticky;
    top:0;
}

li{
    float:left;
    background-color: deepskyblue;
}
li a {
    display: block;
    color: cyan;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
li a:hover{
    background-color: blue;    
}
.there{
    background-color: darkblue;
}

.dropdown {
    float: right;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: cyan;
    padding: 14px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

 .dropdown:hover .dropbtn {
    background-color: blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0066cc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: cyan;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: 1px solid;
    border-color: blue ;
}

.dropdown-content a:hover {
    color: darkblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}